body {
    background-color: #ffffff;
    font-family: "Myriad Pro", Arial, sans-serif;
    width: 100%;
}
header {
    margin-top: 50px;
    text-align: center;
}
h1 {
    margin-bottom: 30px;
}
nav {
    text-align: center;
}
