body {
  background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0, #144999),	color-stop(1, #70FF91));
  background-image: -webkit-linear-gradient(left bottom, #144999 0%, #70FF91 100%);
  background-image: -moz-linear-gradient(left bottom, #144999 0%, #70FF91 100%);
  background-image: -ms-linear-gradient(left bottom, #144999 0%, #70FF91 100%);
  background-image: -o-linear-gradient(left bottom, #144999 0%, #70FF91 100%);
  background-image: linear-gradient(to left bottom, #144999 0%, #70FF91 100%);
  font-family: "Myriad Pro", Arial, sans-serif;
  height: 100vh;
}
.homework {
  width: 960px;
  margin: 25px auto;
}
header {
  text-align: center;
}
header,
.task,
.object {
  padding: 10px;
  margin: 10px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
  border-radius: 5px;
}
.object {
  padding-left: 35px;
  text-align: center;
}
.number {
  padding:0;
  margin: 10px;
}
.task ul {
  padding: 0;
  margin: 0;
}
.task li {
  padding: 0 10px;
  list-style: none;
}
.task a {
  color: black;
  text-decoration: none;
}
.task a:hover {
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 5px rgba(122, 122, 122, 1);
}
