/*Общая настройка фона*/

body {
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
  background-color: #0c739f;
  font-family: Tahoma, Verdana, sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
     -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
          box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
}

/*Свойства заголовка*/

.header-t {
  position: relative;
  height: 175px;
  color: #128aa7;
  background-color: #fff;
  font-size: 12px;
}
.logo {
  position: absolute;
  bottom: 0;
  margin-left: 28px;
}
.descript {
  position: absolute;
  bottom: 55px;
  margin-left: 100px;
  color: #128aa7;
  text-decoration: none;
}
.contacts {
  position: absolute;
  right: 33px;
  top: 10px;
  line-height: 17px;
}
.contacts-h {
  font-weight: bold;
}
.contacts a {
  color: #128aa7;
  text-decoration: none;
}
.flags {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 0;
}
.flags li {
  display: inline-block;
  width: 56px;
  text-align: center;
}
.flags a {
  color: #128aa7;
  font-size: 10px;
  text-align: center;
}
.header-bm {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}
.header-bm img {
  display: block;
}

/*Свойства главного меню*/

.menu {
  position: relative;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  background-color: #343434;
  text-align: center;
  font-size: 0;
  z-index: 10;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
     -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
          box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
}
.menu li {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.menu li a {
  display: block;
  padding: 8px 31px;
  color: #fff;
  text-decoration: none;
}

/*Свойства подмаеню*/

.submenu {
  display: none;
  position: absolute;
  top: 31px;
  left: 20px;
  width: 150px;
  padding-bottom: 10px;
  background-color: #343434;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
     -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
          box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
}
.submenu li {
  display: block;
}
.submenu li a {
  padding: 5px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
}
.menu li:hover .submenu {
    display: block;
}

/*Стрелка справа от выпадающего меню*/

.arrow-down::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

/*Свойства основного контента*/

.content {
  color: #424c43;
  font-size: 14px;
}
.fon3 {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  background: #edeef0;
  border-right: 1px solid #c7cacf;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
     -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
          box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
}
.fon2 {
  position: relative;
  right: 208px;
  float: left;
  width: 100%;
  background: #fff;
  border-right: 1px solid #c7cacf;
}
.fon1 {
  position: relative;
  right: 580px;
  float: left;
  width: 100%;
  background: #edeef0;
  border-right: 1px solid #c7cacf;
}
.info{
  position: relative;
  left: 788px;
  float: left;
  width: 208px;
  border-left: 1px solid #c7cacf;
}
.the-hole {
  position: relative;
  left: 788px;
  float: left;
  width: 580px;
}
.news {
  position: relative;
  left: 788px;
  float: right;;
  overflow: hidden;
  width: 208px;
}
.section-name {
  margin: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.info p,
.news p {
  margin: 10px 15px;
}

/*Свойства подвала*/

.copy {
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
}
.copy p {
  line-height: 34px;
  text-align: center;
}
