/*Общая настройка фона*/

body {
  width: 100%;
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
  background-color: #0c739f;
  font-family: Tahoma, Verdana, sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
     -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
          box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
}

/*Свойства заголовка*/

.header-t {
  position: relative;
  height: 175px;
  color: #128aa7;
  background-color: #fff;
}
.logo {
  position: absolute;
  bottom: 0;
  margin-left: 28px;
}
.descript {
  position: absolute;
  bottom: 55px;
  margin-left: 100px;
  color: #128aa7;
  font-size: 12px;
  text-decoration: none;
}
.contacts {
  position: absolute;
  right: 33px;
  top: 10px;
  font-size: 12px;
  line-height: 17px;
}
.contacts-h {
  font-weight: bold;
}
.contacts a {
  color: #128aa7;
  text-decoration: none;
}
.flags {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 0;
}
.flags li {
  display: inline-block;
  width: 56px;
  text-align: center;
}
.flags a {
  color: #128aa7;
  font-size: 10px;
  text-align: center;
}
.header-bm {
  height: 237px;
}
.header-bm img {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

/*Свойства главного меню*/

.menu {
  position: relative;
  padding: 0 25px;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  background-color: #343434;
  font-size: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
     -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
          box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
}
.menu li {
  position: relative;
  z-index: 11;
  display: inline-block;
  width: 14.28%;
  font-size: 14px;
  text-align: center;
}
.menu li a {
  display: block;
  padding: 7px 0;
  color: #fff;
  text-decoration: none;
}
.arrow-down::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.submenu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 12;
  background-color: #343434;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
     -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
          box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
}
.submenu li {
  display: block;
  width: 100%;
}
.submenu li a {
  padding: 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
}
.submenu li:last-child {
  padding-bottom: 10px;
}
.menu li:hover .submenu {
    display: block;
}

/*Свойства основного контента*/

.content {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 546px;
  width: 100%;
  background-color: #fff;
  color: #424c43;
  font-size: 0;
  overflow: hidden;
}
.info,
.the-hole,
.news {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}
.info,
.the-hole,
.news {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.info,
.news {
  width: 21%;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
  background-color: #edeef0;
}
.the-hole{
  width: 58%;
}
.section-name {
  margin: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.info p,
.news p {
  margin: 10px 15px;
}

/*Свойства подвала*/

.copy {
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
}
.copy p {
  line-height: 34px;
  text-align: center;
}
