body {
    background-color: #f5eff4;
    font-family: "Myriad Pro", Arial, sans-serif;
    width: 100%;
}
header {
    margin-top: 50px;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
img {
    width: 200px;
    border: 1px solid #8f8f8f;
}
main {
    width: 500px;
    margin: auto;
}
section {
    border-top: 1px solid #8f8f8f;
}
section p {
    padding-left: 36px;
}
