html,
body {
  min-height: 100%;/*Позволяет растянуть фон*/
  /*overflow-y: hidden;/*Убирает вертикальную полосу прокрутки*/*/
}
body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: white;
}

/*clearfix*/

.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*Главное меню*/
nav {
    background-image: url(../img/menu-background.png);
    text-align: right;
}
.first-menu,
.second-menu {
  float: right;
  font-size: 0;
}

.first-menu li,
.second-menu li {
  display: inline-block;
}
.first-menu li a,
.second-menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
}
.first-menu li a{
  padding: 10px;
  color: #60b5ed;
}
.second-menu li a {
  padding: 10px;
  color: #fff;
}
.first-menu li a:hover{
  color: white;
  background-color: #4eabda;
  text-shadow: 0 0 7px rgba(255,255,255,.95);/*Использовал это свойство, так как жирный текст менят ширину кнопки*/
}
.underline {
  text-decoration: underline;
}

.wrapper {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center 34px;
  background-size: cover;
}


/*ul {
padding:5px;
}
li {
display:inline;
border-left:1px solid #bbb;
padding:0 2px 0 4px;
}
li:first-child {
border:none;
}*/
