html, body {
  min-height: 100%;
  /*Позволяет растянуть фон*/
}
body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: white;
}

/*clearfix*/

.group::before, .group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*Настройка фона*/

.wrapper {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center 34px;
  background-size: cover;
}

/*Главное меню*/

nav {
  padding: 0 20px;
  background-image: url(../img/menu-background.png);
  text-align: right;
}
.first-menu, .second-menu {
  float: right;
  font-size: 0;
}
.first-menu li,
.second-menu li {
  display: inline-block;
}
.first-menu li a,
.second-menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
}
.first-menu li a {
  padding: 10px;
  color: #60b5ed;
}
.second-menu li a {
  padding: 10px 14px;
  color: #fff;
}
.first-menu li a:hover {
  color: white;
  background-color: #4eabda;
  text-shadow: 0 0 7px rgba(255, 255, 255, .95);
  /*Использовал это свойство, так как жирный текст менят ширину кнопки*/
}
.second-menu li a:hover {
  background: linear-gradient(to bottom, #50afdc, #2e7ac4);
  padding: 9px 13px;
  border: 1px solid #5aa4de;
  border-radius: 1px;
}
.first-menu::after {
  content: "";
  float: right;
  margin: 2px 3px 2px 10px;
  height: 30px;
  border-left: 1px solid #4eabda;
}
.flag::before {
  content: "";
  position: relative;
  bottom: 4px;
  background: url(../img/Inventicons.png) no-repeat top right;
  background-size: cover;
  margin-right: 10px;
  float: left;
  height: 24px;
  width: 24px;
}
.underline {
  text-decoration: underline;
}

/*Настройки формы*/

section {
  margin: 0 auto;
  width: 560px;
}
.forma {
  text-align: center;
  margin: 0 auto;
}
.header {
  display: block;
  margin-bottom: 2px;
  font-size: 24px;
  text-align: center;
  line-height: 62px;
  background-color: rgba(0,0,0,.65);
}

/*Свойства полей ввода*/

.forma input {
  height: 35px;
  width: 275px;
  color: #fff;
  margin-bottom: 16px;
  padding-left: 18px;
  outline: none;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  border-left: 1px solid #111;
  border-bottom: 1px solid #484746;
  background-color: #111;
}
.forma input:focus {
  border-top: 1px solid #1d4c7c;
  border-right: 1px solid #1d4c7c;
  border-left: 1px solid #1d4c7c;
  border-bottom: 1px solid #689bcc;
  -webkit-box-shadow: 0 0 10px 0 rgba(47,123,197,1), inset 0 0 10px 0 rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 10px 0 rgba(47,123,197,1), inset 0 0 10px 0 rgba(0,0,0,0.5);
          box-shadow: 0 0 10px 0 rgba(47,123,197,1), inset 0 0 10px 0 rgba(0,0,0,0.5);
  background-color: #1b5288;
}

/*Свойства placeholder*/

.forma input::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.forma input::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.forma input:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.forma input:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}

.forma input:hover::-webkit-input-placeholder {
  color: #fff;
}
.forma input:hover::-moz-placeholder {
  color: #fff;
}
.forma input:hover:-moz-placeholder {
  color: #fff;
}
.forma input:hover:-ms-input-placeholder {
  color: #fff;
}

.forma input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.forma input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.forma input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.forma input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
