/*Общая настройка фона*/

html {
  width: 100%;
  height: 100%;
  background-color: #0c739f;
}
body {
  margin: 0 auto;
  width: 1000px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  font-family: Tahoma, Verdana, sans-serif;
}
/*Свойства хеадера*/

.logo {
  margin-top: 50px;
  margin-bottom: 40px;
}

/*Свойства главного меню*/

.main-menu {
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  background-color: #343434;
  font-size: 0;
}
.main-menu li {
  display: inline-block;
  width: 14.28%;
  font-size: 14px;
  text-align: center;
}
.m-menu-item {
  display: block;
  padding: 7px 0;
  color: #fff;

  text-decoration: none;
}

/*Свойства боковой панели*/

.sidebar {
  display: inline-block;
  vertical-align: top;
}
.sidebar ul {
  width: 240px;
  margin-right: 48px;
}
.sidebar-item {
  display: block;
  padding: 13px 43px 13px 25px;
  color: #656363;
  font-size: 13px;
  text-decoration: none;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
}
.sidebar li:first-child {
  border-top: 1px solid #c8c8c8;
}
.sidebar-item:hover {
  padding-left: 35px;
  color: #2c2c2c;
  background-color: #f9f9f9;
}

/*Свойства основного контента*/

.bicycle {
  display: inline-block;
}
.frame {
  position: relative;
  height: 398px;
  width: 671px;
  border: 1px solid #c8c8c8;
}
.frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bicycle p {
  width: 625px;
  margin: 35px auto 45px;
  font-size: 13.33px;
  line-height: 23px;
  color: #2c2c2c;
}

/*Свойства футера*/

.links {
  height: 40px;
  vertical-align: middle;
  background-color: #e1e1e1;
}
.links a {
  padding: 13px 43px;
  line-height: 40px;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 13.33px;
}
.links a:first-child {
  padding: 13px 43px 13px 25px;
}
.links a:hover {
  text-decoration: underline;
}
.copy {
  width: 200px;
  margin: 8px auto;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
