/*Общая настройка фона*/
body {
  width: 100%;
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
  background-color: #0c739f;
  font-family: Tahoma, Verdana, sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
     -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
          box-shadow: 0 0 10px 1px rgba(0,0,0,.7);
}

/*Свойства заголовка*/

.header-t {
  position: relative;
  height: 175px;
  color: #128aa7;
  background-color: #fff;
}
.logo {
  position: absolute;
  bottom: 0;
  margin-left: 28px;
}
.descript {
  position: absolute;
  bottom: 55px;
  margin-left: 100px;
  color: #128aa7;
  font-size: 12px;
  text-decoration: none;
  /*font-weight: bold;*/
}
.contacts {
  position: absolute;
  right: 33px;
  top: 10px;
  font-size: 12px;
  line-height: 17px;
}
.contacts-h {
  font-weight: bold;
}
.contacts a {
  color: #128aa7;
  text-decoration: none;
}
.flags {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 0;
}
.flags li {
  display: inline-block;
  width: 56px;
  text-align: center;
}
.flags a {
  color: #128aa7;
  font-size: 10px;
  text-align: center;
}

.header-bm {
  height: 237px;
}
.header-bm img {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

/*Свойства главного меню*/

.main-menu {
  padding: 0 25px;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  background-color: #343434;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
     -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
          box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
  font-size: 0;
}
.main-menu li {
  display: inline-block;
  width: 14.28%;
  font-size: 14px;
  text-align: center;
}
.m-menu-item {
  display: block;
  padding: 7px 0;
  color: #fff;
  text-decoration: none;
}
.arrow {
  height: 6px;
  margin-left: 8px;
}

/*Свойства основного контента*/

.content {
  height: 546px;
  background-color: #fff;
  color: #424c43;
}
.section-name {
  font-size: 18;
  font-weight: bold;
  text-align: center;
}

/*Свойства подвала*/

.copy {
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
}
.copy p {
  line-height: 34px;
  text-align: center;
}
