/*Общие настройки*/

body {
  background-color: #dee3ec;
}
table {
  margin: 10vh auto;
  border-spacing: 0;
  border: 11px solid white;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
td {
  border: 10px solid black;
}
/*Настройка размеров*/

.row1 {
  height: 50px;
}
.row2 {
  height: 125px;
}
.row3 {
  height: 125px;
}
.row4 {
  height: 60px;
}
.row5 {
  height: 60px;
}
.row6 {
  height: 30px;
}
.row7 {
  height: 30px;
}
.cell1 {
  width: 55px;
}
.cell2 {
  width: 60px;
}
.cell3 {
  width: 120px;
}
.cell4 {
  width: 148px;
}

/*Настройка цветов*/

.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
